@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  opacity: 0;
  transform: translateY(-20px);
  animation: popIn 1s forwards;
  animation-delay: 0.7s; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", "Verdana", "Tahoma", "Trebuchet MS", sans-serif;
}

.bg-cage {
  background-image: url('../../public/images/cage.svg');
  background-size: cover; /* Ensures the background image covers the entire header */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.octagon {
  background: rgba(0, 0, 0, 0.80);
  width: 3rem;
  height: 3rem;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.5rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.nav-open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
 }
 
 .nav-closed {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

@keyframes popIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.divider {
  width: 100%;
  max-width: 300px;
  height: 3px;
  margin: 0 auto;
  background-color: #F81A00;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 1s forwards;
  animation-delay: 2s; 
}
@media (width >= 768px) {
  .divider {
    max-width: 125px;
    margin: 0 0;
  }
}


@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/* .background-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.8;
} */

/* .background-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  animation: slide 18s infinite;
} */

.background-slider img:nth-child(1) {
  animation-delay: 0s;
}

.background-slider img:nth-child(2) {
  animation-delay: 6s;
}

.background-slider img:nth-child(3) {
  animation-delay: 12s;
}

@keyframes slide {
  0%, 100% { opacity: 0; }
  8%, 33% { opacity: 1; }
}

@keyframes slideInText {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.dynamicText {
  animation: slideInText 1s forwards;
}