@tailwind base;
@tailwind components;
@tailwind utilities;

h1, p {
  opacity: 0;
  transform: translateY(-20px);
  animation: popIn 1s forwards;
  animation-delay: 0.7s; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", "Verdana", "Tahoma", "Trebuchet MS", sans-serif;
}

.nav-open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
 }
 
 .nav-closed {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

@keyframes popIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.divider {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 1s forwards;
  animation-delay: 2s; 
}

@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.background-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: slide 18s infinite;
}

.background-slider img:nth-child(1) {
  animation-delay: 0s;
}

.background-slider img:nth-child(2) {
  animation-delay: 6s;
}

.background-slider img:nth-child(3) {
  animation-delay: 12s;
}

@keyframes slide {
  0%, 100% { opacity: 0; }
  8%, 33% { opacity: 1; }
}

@keyframes slideInText {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.dynamicText {
  animation: slideInText 1s forwards;
}